.products-header-section {
    text-align: center;
    padding: 50px 25px;
}

.home-content-section {
    padding: 25px;
}

.card-section {
    width: 220px;
    margin: 10px;
    padding: 2%;
    display: inline-block;
}

@media screen and (max-width: 800px) { 
    .card-section {
        color: white;
        transform: translate(-50%, -50%);
        background: #042C71;
        border-radius: 24px;
        font-size: 1.4rem;
    }
    }

.image-sec {
    height: 200px;
    width: 200px;
    border: 1px solid;   
}

.productsHeader {
    font-size: 2.0rem;
}

.productsHeader2 {
    font-size: 1.8rem;
}

.categoryLinks {
    font-size: 1.6rem;
}

p {
    font-size: 1.2rem;
}