.products-header-section {
    text-align: center;
    padding: 50px 25px;
}

.home-content-section {
    padding: 25px;
}

.card-section {
    width: 200px;
    margin: 10px;
    padding: 2%;
    display: inline-block;
}

.rentals {
    display: flex;
    padding-right: 20px;
    margin-right: 20px;
}

.image-sec {
    height: auto;
    width: 200px;
    border: 1px solid;   
}

.productsHeader {
    font-size: 1.2rem;
}

.productsHeader2 {
    font-size: 1rem;
}

.categoryLinks {
    font-size: 1rem;
}